:root {

    --neutral-900: hsl(0, 0%, 7%);
    --neutral-800: hsl(0, 0%, 15%);
    --neutral-500: hsl(240, 3%, 46%);
    --neutral-400: hsl(240, 1%, 59%);
    --neutral-0: hsl(0, 0%, 100%);
    --blue-600: hsl(214, 100%, 55%);
    --blue-400: hsl(210, 100%, 65%);
    --red-500: hsl(354, 63%, 57%);
    --green-500: hsl(140, 63%, 57%);
    --yellow-400: hsl(49, 85%, 70%);

    --font-family: 'Sora', sans-serif;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;

    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 1.75rem;

    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;
}